@model List<Mvc5My.Areas.Chapter08.Models.MyDb2Model.MyTable3>
<p class="text-center" style="font-size:20px">编辑成绩</p>
@using (Html.BeginForm(new { kcID = ViewBag.kcID }))
{
    @Html.AntiForgeryToken()
    <table class="table table-bordered">
        <thead>
            <tr>
                @{var t = Model.FirstOrDefault();   }
                <th>@Html.DisplayNameFor(model => t.StudentID )</th>
                <th>@Html.DisplayNameFor(model => t.MyTable2.StudentName )</th>
                <th>@Html.DisplayNameFor(model => t.MyTable1.KeChengID )</th>
                <th>@Html.DisplayNameFor(model => t.MyTable1.KeChengName )</th>
                <th>@Html.DisplayNameFor(model => t.Grade )</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                var k = "a" + m.ID.ToString();
                @Html.HiddenFor(modleitem=>m.ID )
                <tr>
                    <td>@Html.DisplayFor(modelItem=>m.StudentID )</td>
                    <th>@Html.DisplayFor(modelItem => m.MyTable2.StudentName)</th>
                    <th>@Html.DisplayFor(modelItem => m.KeChengID)</th>
                    <th>@Html.DisplayFor(modelItem => m.MyTable1.KeChengName)</th>
                    <th>
                        @Html.EditorFor(modeItem => m.Grade, "MyTable3", k, new { htmlAtrributes = new { @class="text-center",style="max-width:60px;"} })
                        @Html.ValidationMessage(k, "", new  { style= "color:red;"})
                    </th>
                </tr>
            }
        </tbody>
    </table>
    <div class="center-block text-center ">
        <button type="submit"class="btn btn-success">保存</button>
        <a href="@Url.Action("Index")" class="btn btn-success">返回</a>
    </div>
}