@model Mvc5Examples.Areas.Chapter03.Models.MyUserModel
@{
    var ajaxOptions = new AjaxOptions { UpdateTargetId = "bodyContent" };
    var c1 = new { @class = "col-md-2 control-label" };
    var c2 = "col-md-10";
    var c3 = new { @class = "form-control" };
    var c4 = new { @style = "color:red;" };
}
<h4 class="bg-success">基本用法2：横向排列</h4>
@using (Ajax.BeginForm(ajaxOptions))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, c1)
            <div class="@c2">
                @Html.TextBoxFor(m => m.UserName, c3)
                @Html.ValidationMessageFor(m => m.UserName, "", c4)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Age, c1)
            <div class="@c2">
                @Html.TextBoxFor(m => m.Age, c3)
                @Html.ValidationMessageFor(m => m.Age, "", c4)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">其他信息</label>
            <div class="col-md-10">
                <p class="form-control form-control-static">无</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="提交" />
            </div>
        </div>
    </div>
}
<pre>@ViewBag.Result</pre>
